{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f79370131e73aee52be43a427944419a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<style type="text/css">
    #footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
</style>
</head>
{% load i18n %}
<body>
<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content">
        {% block content %}
        {{ content }}
        {% endblock %}
    </div>
    <!-- END Content -->
    {% block footer %}<div id="footer">
    <a href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备13007378号</a>
    </div>{% endblock %}
</div>
<!-- END Container -->
</body>
</html>
